.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-middle {
  text-align: center;
}

.img-middle {
  display: block;
  margin: auto;
}
